$desire : #f7d8ae;
$pinkis : rgb(191, 62, 200);
$pinkis_a : rgb(107, 0, 117);
$border_width : 5px;
$border_angle: 30px;
$font_tana: 'Tangerine', cursive;
$font_mika : 'Parisienne', cursive;

body{
    background-color: antiquewhite;
}

#twits{
    background-color: $desire;
    border-style: solid;
    border-color: $pinkis;
    border-width: $border_width;
    margin: 15% 20% 20% 20%;
    border-top-left-radius: $border_angle;
    border-top-right-radius: $border_angle;
    border-bottom-left-radius: $border_angle;
    border-bottom-right-radius: $border_angle;
    h5{
        margin: 5% 10% 5% 10%;
        font-family: $font_mika;
        font-weight:bold;
        font-size: 20px;
    }
    .btn-buto{
        margin-left: 80%;
        margin-bottom: 2%;
        background-color: $pinkis;
        color: aliceblue;
        border-color: aliceblue;
    }
    #button_h5{
        &:hover{
            background-color: $pinkis_a !important;
            color: white;
            border-color: $pinkis;
        }
    }
    // .btn-buto{
    //     :hover{
    //         background-color: $pinkis_a;
    //     }
    // }
}